{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RD-Story 8</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
<script>
    alert("Hai, selamat datang di Story 8 !");
</script>

<div class="navigation">
    <ul class="nav justify-content-start">
        <h1>RD</h1>
    </ul>
</div>
<div class="pic">
    <div class="isipic">
        <h2><strong>Story 8</strong></h2>
        <p>AJAX Dynamic Data Access</p>
    </div>
</div>

<div class="utama">
    <h3>Silakan temukan buku yang ingin Anda cari !</h3>
    <input id="find" placeholder="Judul Buku">

    <table id="result">

    </table>
</div>

<script type="text/javascript">
    $('#find').keyup(function(){
        var isifind = $('#find').val();
        var urlnya = 'data?q=' + isifind;

        $.ajax({
            url: urlnya, 
            success: function(result){
                console.log(result.items);
                var objresult = $('#result');
                objresult.empty();
                objresult.append('<tr><th>Judul Buku</th><th>Gambar</th></tr>');

                for(i=0; i<result.items.length; i++){
                    var tmp_title = result.items[i].volumeInfo.title;
                    var tmp_gambar = result.items[i].volumeInfo.imageLinks.smallThumbnail;
                    console.log(tmp_title);
                    objresult.append('<tr><td> ' + tmp_title + '</td> <td> <img src=' + tmp_gambar + '> </td></tr>');
                }
            }
        });
    });
</script>
{% endblock content %}