{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RD-Isi Kegiatan</title>
<style>
    body{
        padding-top: 50px;
        margin-left: 2cm;
        line-height: 1cm;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
    }
    h2{
        text-align: center;
    }
    .button{
        background-color: rgb(103, 170, 233);
        color: rgb(17, 17, 61);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        padding: 8px 15px;
        border-style: none;
        font-family: 'Nunito Sans', sans-serif;
    }
 
</style>
{% endblock meta %}

{% block content %}
    <div class="container">
        <h2>Silakan isi kegiatan di bawah ini !</h2>
            <form method="POST">
                <table>
                    {{ form.as_table }}
                    {% csrf_token %}
                </table><br>
                <input class="button" type="submit" value="Tambahkan">
            </form>
        
    </div>
{% endblock content %}