*{
    scroll-behavior: smooth;
}
.navigation{
    padding-top: 30px;
    padding-left: 50px;
    font-weight: bolder;
}
.nav-link{
    font-family: 'Nunito Sans', sans-serif;
}
.banner{
    background: url('https://cdn-image.hipwee.com/wp-content/uploads/2016/10/hipwee-64379035-750x422.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bann{
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    padding: 150px 170px;
}
.bann h1, .liatstory h1{
    font-size: 65px;
    line-height: 100px;
}
.bann p{
    font-size: 20px;
    width: 46%;
}
.button1{
    background-color: skyblue;
    color: rgb(17, 17, 61);
    border-radius: 8px;
    margin-right: 20px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}
.button1:hover{
    text-decoration: none;
}
.liatstory{
    background-color: rgb(17, 17, 61);
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.liatstory p{
    font-size: 20px;
}
#liatstory{
    line-height: 60px;
}

.signup, .signin{
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(17, 17, 61);
}
#signup{
    background-color: skyblue;
    padding: 20px 40px;
    border-radius: 20px;
}
#signup h2{
    text-align: center;
}
.inputan{
    margin-left: -35px;
}
.sinilogin{
    color: rgb(17, 17, 61);;
}
#signin{
    background-color: skyblue;
    padding: 20px 40px;
    border-radius: 20px;
}
.sinisignup{
    color: rgb(17, 17, 61);
}
.alert{
    font-size: 13px;
    color: rgb(179, 0, 0)
}
@media (max-width: 1230px) {
    .bann{
      padding: 230px 60px;
    }
    .liatstory{
        padding: 10px;
    }
}
@media (max-width: 1100px) {
    .banner{
      height: 100%;
    }
    .bann{
      padding: 230px 40px;
    }
}
@media (max-width: 900px) {
    .bann p{
      width: 90%;
      text-align: justify;
    }
}