@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Quantico&display=swap');

body, html{
  margin: 0;
  padding: 0;
  background-color: rgb(17, 17, 61);
}
.basic{
  color: darkblue;
  font-family: 'Nunito Sans', sans-serif;
}
h4{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}
.clickweb{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: darkblue;
}
.navigation{
  background-color: rgb(17, 17, 61);
  min-height: 90px;
  max-height: 185px;
  padding: 20px;
  font-family: 'Quantico', sans-serif;
}
.navigation h1{
  color: white;
  width: 3cm;
}
.nav-link{
  color: white;
}
.welcome{
  background: url('/static/img/cloud.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
}
.p-home{
  font-weight: bolder;
  font-size: 50px;
}
.welcome img{
  border-radius: 100%;
}
.footer{
  display: flex;
  align-items: center;
  min-height: 90px;
  max-height: 200px;
  color: white;
  background-color: rgb(17, 17, 61);
  font-family: 'Nunito Sans', sans-serif;
}
.x{
  margin-left: 2%;
  font-size: 18px;
  font-weight: bold;
}
.main-about{
  background-color: rgb(17, 17, 61);
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}
.image{
  margin-left: 1.5cm;
}
.row{
  width: 13cm;
}
.name{
  font-size: 25px;
  font-weight: bolder;
}
.des{
  font-style: italic;
}
.a{
  font-weight: bolder;
  font-size: large;
  margin-left: 1.5cm;
}
.b{
  margin-left: 1.5cm; 
}
.c{
  font-weight: bolder;
  font-size: 24px;
  margin-left: 1.5cm;
}
.education, .experience{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 574px;
  width: 100%;
  background-color: rgb(17, 17, 61);
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}
.pic{
  background-image: url('https://miro.medium.com/max/1200/1*uwXvMVTx3L2TcZsLDU4dwg.jpeg');
  background-size: cover;
  filter: contrast(200%);
  color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.isipic{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
  font-weight: bolder;
}
.open{
    color: white;
    text-align: center;
    min-height: 200px;
    height: 100%;
    font-size: 30px;
}
.jees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    min-height: 1000px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
}

.item {
    display: block;
    width: inherit;
    padding: 1cm;
    line-height: 60px;
    background:black;
    border: 3px solid rgb(223, 246, 255);
    cursor: pointer;
    color:rgb(223, 246, 255);
    font-size: 20px;
    font-weight: bolder;
}

.isi {
    display: none;
    padding: 1cm; 
    width: inherit;
    height: auto;
    border: 3px solid rgb(223, 246, 255);
}

.active {
    background:  rgb(223, 246, 255);
    color: black;
}
.isi div{
    margin: 30px;
}
.activity, .exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
.activity img, .exp img{
    width: 120px;
    height: 120px;
}
input{
    background:rgb(223, 246, 255);
    color: rgb(17, 17, 61);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 1cm;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
}
.utama{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 7cm;
    padding-right: 7cm;
    padding-top: 2cm;
    padding-bottom: 4cm;
    min-height: 300px;
    height: 100%;
    font-size: 25px;
    text-align: center;
}
input[id=find]{
    margin-right: 1cm;
    padding: 12px 20px;
    border: none;
    font-size: 17px;
    text-align: center;
    width: 60%;
}
#result {
    border-collapse: collapse;
    width: 100%;
    margin: 100px;
}
#result th{
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 4px solid darkblue;
}
#result td {
    background-color: skyblue;
    border: 4px solid darkblue;
    color: darkblue;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding: 8px;
    width: 60%;
}
@media screen and (max-width: 1100px) {
    .utama{
        padding-left: 1cm;
        padding-right: 1cm;
        font-size: 20px;
    }
}
@media screen and (max-width: 380px) {
    .utama{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
    }
    .isipic{
        font-size: 35px;
    }
    #result{
        margin: 50px;
    }
    #result td{
        font-size: 15px;
    }
}