{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RD-Story 7</title>
{% endblock meta %}

{% block content %}
<script>
    alert("Hai, selamat datang di Story 7 !");
</script>

<div class="navigation">
    <ul class="nav justify-content-start">
        <h1>RD</h1>
    </ul>
</div>
<div class="pic">
    <div class="isipic">
        <h2><strong>Story 7</strong></h2>
        <p>Client Side Programming (JavaScript and JQuery)</p>
    </div>
</div>

<div class='jees'>
    <div class="open">
        <h2>Selamat Datang di JavaScript & JQuery !</h2>
        <p>Berikut accordion yang saya buat di bawah ini :</p>
    </div>
    <!--Item 1-->
    <div class='item'>
        <div>
            Aktivitas Saat Ini
            <input type="button"value="Naik" class="up-button"/>  
            <input type="button" value="Turun" class="down-button"/>
        </div>
    </div>
    <div class="isi">
        <div>
            <div class="activity">
                <img src="https://acakadul.files.wordpress.com/2013/08/makara-ui-fasilkom.png">
                <h3>Mahasiswa Semester 3 Jurusan Sistem Informasi</h3>
                <p>Fakultas Ilmu Komputer Universitas Indonesia</p>
            </div>
        </div>
    </div>
    
  
    <!--Item 2-->
    <div class="item">
        <div>
            Pengalaman
            <input type="button"value="Naik" class="up-button"/>  
            <input type="button" value="Turun" class="down-button"/>
        </div>
      </div>
      <div class="isi">
        <div>
            <div class="exp">
                <img src="http://pmb.cs.ui.ac.id/static/media/logo_pmb.30056953.png">
                <h3>Mentor</h3>
                <p>PMB Fasilkom UI 2020 (Kegiatan sudah selesai)</p>
            </div>
            <br><br>
            <div class="exp">
                <img src="https://fuki.cs.ui.ac.id/static/recruitment/img/logo/fuki.b2420c5a4704.png">
                <h3>Staf di Syiar Kreatif</h3>
                <p>Forum Ukhuwah dan Kajian Islam (Musim 2020)</p>
            </div>
        </div>
    </div>
  
      
    <!--Item 3-->  
    <div class="item">
        <div>
            Prestasi
            <input type="button"value="Naik" class="up-button"/>  
            <input type="button" value="Turun" class="down-button"/>
        </div>
    </div>
    <div class="isi">
        <div>Tidak ada :(</div>
    </div>

    <!--Item 4-->
    <div class='item'>
        <div>
            Kesan
            <input type="button"value="Naik" class="up-button"/>  
            <input type="button" value="Turun" class="down-button"/>
        </div>
    </div>
    <div class="isi">
      <div>Saya jadi cukup lebih mengerti tentang JavaScript dan JQuery</div>
    </div>

</div>
<script>
    $(document).ready(function(){
        $('.item').click(function (){
            if($(this).next('.isi').css('display') != 'block'){
                $('.active').slideUp('300').removeClass('active');
                $(this).next('.isi').addClass('active').slideDown('300');
                $(".isi").css({'background-color': 'rgb(223, 246, 255)'});
            } else {
                $('.active').slideUp('300').removeClass('active');
        }
    });

    $('.up-button').click(function(){
        $(this).parents('.item').insertBefore($(this).parents('.item').prev());
    });

    $('.down-button').click(function(){
        $(this).parents('.item').insertAfter($(this).parents('.item').next());
    });
});
</script>


{% endblock content %}