{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RD-About</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock meta %}

{% block content %}
    <div class="navigation">
        <ul class="nav justify-content-start">
            <h1>RD</h1>
            <a class="nav-link" href="{% url 'main:intro' %}">STORY 1</a>
            <a class="nav-link" href="{% url 'main:home' %}">HOME</a>
            <a class="nav-link" href="{% url 'main:education' %}">EDUCATION</a>
            <a class="nav-link" href="{% url 'main:experience' %}">EXPERIENCE</a>
            <a class="nav-link" href="{% url 'main:daftarmatkul' %}">MATA KULIAH</a>
        </ul>
    </div>
    <div class="main-about">
        <div class="row">
            <div class="col align-self-start">
                <p class="image"><img src="{% static 'img/myphoto.jpg' %}" width="220" height="220"></p>
            </div>
            <div class="col align-self-center">
                <p class="name">Ryan Dirga</p>
                <p class="des">Information System</p>
            </div>
        </div>
        <div class="info">
            <br>
            <p class="a">Nama Lengkap:</p><p class="b">Ryan Dirga Aidil Hakim</p><br>
            <p class="a">Tempat / tanggal lahir:</p><p class="b">Pekanbaru, 27 Desember 2000</p><br>
            <p class="a">Alamat:</p><p class="b">Jalan Mandor Basir 1 No 8R (Depok Permai Regency Kukusan), Kukusan, Beji, Depok, Jawa Barat, Kode Pos 16425</p><br>
            <p class="a">Tempat Kuliah:</p><p class="b">Fakultas Ilmu Komputer Universitas Indonesia</p><br>
            <p class="a">NPM:</p><p class="b">1907306741</p>
        </div>
    </div>
{% endblock content %}