{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RD-Daftar Matkul</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
    body{
        background-color: rgb(17, 17, 61);
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        text-align: center;
    }
    h2{
        margin-top: 2cm;
        font-weight: bolder;
        font-size: 5vmin;
    }
    .tabel{
        margin-top: 2cm;
        width: 100%;
        line-height: 1cm;
    }
    .button, .button1{
        
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bolder;
        text-align: center;
        text-decoration: none;
        margin: 2cm;
    }
    .button{
        font-size: 16px;
        padding: 8px 20px;
    }
    .button1{
        background-color: rgb(103, 170, 233);
        color: rgb(17, 17, 61);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        padding: 15px 25px;
    }

</style>
{% endblock meta %}

{% block content %}
    <div class="navigation">
        <ul class="nav justify-content-start">
            <h1>RD</h1>
            <a class="nav-link" href="{% url 'main:intro' %}">STORY 1</a>
            <a class="nav-link" href="{% url 'main:home' %}">HOME</a>
            <a class="nav-link" href="{% url 'main:about' %}">ABOUT ME</a>
            <a class="nav-link" href="{% url 'main:education' %}">EDUCATION</a>
            <a class="nav-link" href="{% url 'main:experience' %}">EXPERIENCE</a>
        </ul>
    </div>
    <div class="container">
        <h2>Daftar Matkul yang telah ditambahkan:</h2>
        <form method="POST">
            <table class="tabel" border="4">
                <thead>
                    <tr>
                        <th>Mata Kuliah</th>
                        <th>Dosen</th>
                        <th>Jumlah SKS</th>
                        <th>Tahun Ajaran</th>
                        <th>Ruang</th>
                        <th>Deskripsi</th>
                        <th>Hapus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for daftar in obj %}
                    <tr>
                        <td>{{ daftar.matkul }}</td>
                        <td>{{ daftar.dosen }}</td>
                        <td>{{ daftar.sks }}</td>
                        <td>{{ daftar.tahun }}</td>
                        <td>{{ daftar.ruang }}</td>
                        <td>{{ daftar.deskripsi }}</td>
                        <td><a href="{% url 'main:hapus' daftar.id %}" class="button">Hapus</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p><a href="{% url 'main:isimatkul' %}" class="button1">Tambah Mata Kuliah</a></p>
        </form>
    </div>
{% endblock content %}