{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RD-Education</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock meta %}
    
{% block content %}
  <div class="navigation">
        <ul class="nav justify-content-start">
            <h1>RD</h1>
            <a class="nav-link" href="{% url 'main:intro' %}">STORY 1</a>
            <a class="nav-link" href="{% url 'main:home' %}">HOME</a>
            <a class="nav-link" href="{% url 'main:about' %}">ABOUT ME</a>
            <a class="nav-link" href="{% url 'main:experience' %}">EXPERIENCE</a>
            <a class="nav-link" href="{% url 'main:daftarmatkul' %}">MATA KULIAH</a>
        </ul>
    </div>
    <div class="education">
        <p class="c">Riwayat Pendidikan:</p><br>
        <p class="a">Universitas Indonesia</p><p class="b">2019-sekarang</p><br>
        <p class="a">SMA Islam Al-Azhar 1</p><p class="b">2016-2019</p><br>
        <p class="a">SMP Islam Al-Azhar 1</p><p class="b">2013-2016</p><br>
        <p class="a">SD Islam Darussalam Pekayon</p><p class="b">2007-2013</p>
    </div>
{% endblock content %}