{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RD-Experience</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock meta %}
    
{% block content %}
  <div class="navigation">
        <ul class="nav justify-content-start">
            <h1>RD</h1>
            <a class="nav-link" href="{% url 'main:intro' %}">STORY 1</a>
            <a class="nav-link" href="{% url 'main:home' %}">HOME</a>
            <a class="nav-link" href="{% url 'main:about' %}">ABOUT ME</a>
            <a class="nav-link" href="{% url 'main:education' %}">EDUCATION</a>
            <a class="nav-link" href="{% url 'main:daftarmatkul' %}">MATA KULIAH</a>
        </ul>
    </div>
    <div class="experience">
        <p class="c">Pengalaman:</p><br>
        <p class="a">Staf di Biro Syiar Kreatif</p><p class="b">Forum Ukhuwah dan Kajian Islam</p><p class="b">(Februari 2020 - sekarang)</p><br>
        <p class="a">Mentor</p><p class="b">PMB Fasilkom UI</p><p class="b">(Juli 2020 - sekarang)</p><br>
    </div>
{% endblock content %}