{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RD-Hapus</title>
<style>
    body{
        padding-top: 100px;
        text-align: center;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
    }
    .button, .inp{
        background-color: rgb(103, 170, 233);
        border-style: none;
        color: rgb(17, 17, 61);
        padding: 12px 25px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px;
        text-decoration: none;
    }
    .button{
        margin-right: 3cm;
    }
</style>

{% endblock meta %}

{% block content %}
    <h2>Apakah Anda yakin ingin menghapus mata kuliah {{ item }} ?</h2><br>
    <form action="{% url 'main:hapus' item.id %}" method="POST">
        
        {% csrf_token %}
        <a href="{% url 'main:daftarmatkul' %}" class="button">Tidak</a>
        <input class="inp" type="submit" value="Iya">
    </form>

{% endblock content %}