{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RD-Home</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock meta %}

{% block content %}
  <div class="navigation">
            <ul class="nav justify-content-start">
                <h1 class="rd">RD</h1>
                <a class="nav-link" href="{% url 'main:intro' %}">STORY 1</a>
                <a class="nav-link" href="{% url 'main:about' %}">ABOUT ME</a>
                <a class="nav-link" href="{% url 'main:education' %}">EDUCATION</a>
                <a class="nav-link" href="{% url 'main:experience' %}">EXPERIENCE</a>
                <a class="nav-link" href="{% url 'main:daftarmatkul' %}">MATA KULIAH</a>
            </ul>
        </div>
        <div class="welcome">
            <h2 class="p-home">Welcome !</h2>
            <img src="{% static 'img/myphoto.jpg' %}" width="300px" height="300px">
        </div>
        <div class="footer">
            <h5 class="x">My contacts:</h5>
            <h5 class="x"><img src="{% static 'img/logo line.png' %}" width="30" height="30" style="vertical-align:middle; margin:10px"> ryandirgaa</h5>
            <h5 class="x"><img src="{% static 'img/logo wa.png' %}" width="30" height="30" style="vertical-align:middle; margin:10px"> 081287364751</h5>
            <h5 class="x"><img src="{% static 'img/gmail.png' %}" width="30" height="30" style="vertical-align:middle; margin:10px"> ryandirgaaidilhakim@gmail.com</h5>
        </div>
{% endblock content %}