{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Introduction</title>
<style>
    .x, .y, .z{
        text-align: center;
        margin-bottom: 50px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
    }
    .x{
        margin-top: 200px;
        font-size: 30px;
    }
    .y{
        font-size: 25px;
    }
    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(103, 170, 233);
        color: rgb(17, 17, 61);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bolder;
        font-size: 18px;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        margin: 2cm;
    }
</style>
{% endblock meta %}


{% block content %}
    <h6 class="x">Halo, selamat datang di RD !</h6>
    <p class="y">Silakan klik salah satu  di bawah ini untuk melihat story 1 atau story 3 saya :</p>
    <p class="z"><a href="{% url 'main:intro' %}" class="button">Go to Story 1</a></p>
    <p class="z"><a href="{% url 'main:home' %}" class="button">Go to Story 3</a></p>
    <p class="z"><a href="{% url 'Story7:home' %}" class="button">Go to Story 7</a></p>
     
{% endblock content %}
