{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Introduction</title>
<style>
    body, html{
        background-color: powderblue;
    }
</style>
{% endblock meta %}

{% block content %}
    <div class="basic">
        <h4>Halo, salam kenal semuanya!</h4>
        <h4><img src="{% static 'img/myphoto.jpg' %}"></h4>
        <div class="biodata">
            <a class="clickweb" href="{% url 'main:home' %}">GO TO STORY 3</a><br>
            <h3>Nama     : Ryan Dirga Aidil Hakim</h3>
            <h3>NPM      : 1906306741</h3>
            <h3>Angkatan : 2019</h3>
            <h3>Hobi :</h3>
            <ol>
                <li>Bermain game</li><br>
                <li>Baca-baca sejarah</li>
            </ol>
            <h3>Deskripsi : Saya sebenarnya masuk Fasilkom UI dengan alasan prospek kerja.</h3>
            <h3>Tempat kuliah : Fakultas Ilmu Komputer Universitas Indonesia</h3>
            <h3>Riwayat pendidikan :</h3>
            <ol>
                <li>Universitas Indonesia (2019-sekarang)</li><br>
                <li>SMA Islam Al-Azhar 1 (2016-2019)</li><br>
                <li>SMP Islam Al-Azhar 1 (2013-2016)</li>
            </ol>
        </div>
        <div class="sosmed">
            <h3>Media Sosial :</h3>
            <ol>
                <li>LINE        : ryandirgaa</li><br>
                <li>Whatsapp    : 081287364751</li><br>
                <li>Instagram   : ryandirgaa</li>
            </ol>
        </div>
    </div>
{% endblock content %}