{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RD-Story 9</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% endblock meta %}

{% block content %}
<div class="navigation">
    <ul class="nav justify-content-start">
        <h1>RD</h1>
        {% if user.is_authenticated %}
            <a class="nav-link"><img src="https://peopleshub.org/wp-content/uploads/2018/04/person-icon-white.png" style="width: 30px; height: 30px; vertical-align:bottom; margin-top: -14px;">Hi, {{ user.get_username }}</a>
            <a class="nav-link" href="{% url 'Story9:logout' %}"><img src="https://icon-library.com/images/logout-icon-png/logout-icon-png-3.jpg" style="width: 30px; height: 30px; vertical-align:bottom; margin-top: -14px;">Logout</a>
        {% else %}
            <a class="nav-link"><img src="https://peopleshub.org/wp-content/uploads/2018/04/person-icon-white.png" style="width: 30px; height: 30px; vertical-align:bottom; margin-top: -14px;">Hi, Guest</a>
            <a class="nav-link" href="{% url 'Story9:login' %}"><img src="https://icon-library.com/images/11a7acda9d.png" style="width: 30px; height: 30px; vertical-align:bottom; margin-top: -14px;">Login</a>
        {% endif %}
    </ul>
</div>

<div class="banner">
    <div class="bann">
        {% if user.is_authenticated %}
            <h1>Selamat Datang, {{ user.get_username }} !</h1>
        {% else %}
            <h1>Selamat Datang, Guest !</h1>
        {% endif %}
        <p>Sudah tidak terasa bahwa kita telah sejauh ini menjalani perkuliahan PPW yang mana kita sudah mencapai Story 9 !!!</p><br><br>
        <a class="button1" href="#liatstory">Daftar Story</a>
    </div>
</div>
<div class="liatstory">
    <h1>Daftar Story</h1>
    <p>Berikut daftar story-story sebelumnya yang telah dikerjakan oleh Ryan Dirga :</p>
    <div id="liatstory">
        {% if user.is_authenticated %}
            <a class="button1" href="{% url 'main:intro' %}">Story 1</a>
            <a class="button1" href="https://www.figma.com/proto/HEsdpXoxt6IFBNFBtF17u3/PEPEWSTORY2?node-id=1%3A3&scaling=min-zoom">Story 2</a>
            <a class="button1" href="{% url 'main:home' %}">Story 4</a>
            <a class="button1" href="{% url 'main:daftarmatkul' %}">Story 5</a>
            <a class="button1" href="{% url 'PPWStory6:daftarkegiatan' %}">Story 6</a>
            <a class="button1" href="{% url 'Story7:home' %}">Story 7</a>
            <a class="button1" href="{% url 'Story8:home' %}">Story 8</a>
        {% else %}
            <a class="button1" href="{% url 'Story9:login' %}">Story 1</a>
            <a class="button1" href="{% url 'Story9:login' %}">Story 2</a>
            <a class="button1" href="{% url 'Story9:login' %}">Story 4</a>
            <a class="button1" href="{% url 'Story9:login' %}">Story 5</a>
            <a class="button1" href="{% url 'Story9:login' %}">Story 6</a>
            <a class="button1" href="{% url 'Story9:login' %}">Story 7</a>
            <a class="button1" href="{% url 'Story9:login' %}">Story 8</a>
        {% endif %}
    </div>
</div>

{% endblock content %}